.separatorLineWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5rem 0;

  .separatorLine {
    background-color: var(--text-color-primary);
    height: 0.2rem;
    width: 100%;
  }
}
