.separatorLineWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  padding: 5rem 0;
  height: 3rem;
  .separatorLine {
    background-color: var(--text-color-primary);
    height: 0.2rem;
    width: 100%;
    margin: 0 auto;
  }
}
