button.switchButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  user-select: none;
  margin: 0 0 0 auto;
  background-color: transparent;
  outline-offset: 0.2rem;
  font-size: 2.4rem;
  color: var(--app-white);
}

.darkTheme.switchButton {
  color: var(--app-black);
}
