button.switchButton {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 5.8rem;
  height: 2.8rem;
  cursor: pointer;
  padding: 0.2rem;
  border: 0.2rem solid #cecece;
  border-radius: 1.5rem;
  user-select: none;
  margin: 0 0 0 auto;
  background-color: transparent;
  outline-offset: 0.2rem;

  img {
    position: absolute;
    top: 0;
    right: 2.8rem;
    width: 2.4rem;
    height: 2.4rem;
    transition: right 0.3s linear;
  }
}

.darkTheme.switchButton {
  img {
    right: 0;
  }
}
