.experience {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bolder);
  &:last-child {
    margin-bottom: 0;
  }

  .role {
    color: var(--text-color-primary);
  }

  .companyName {
    color: var(--text-color-primary-2);
  }

  .year {
    color: var(--text-color-secondary);
    display: flex;
    align-items: center;
    gap: 5px;
  }
}