@use "@/app/styles/_breakpoints" as breakpoints;

:root {
  color-scheme: light dark;

  // colors
  --app-green: #40e0d0;
  --app-black: #000;
  --app-white: #fff;

  --header-bg: #3294e2;

  --footer-row-1-bg: #3294e2;
  --footer-row-2-bg: #1e3a50;

  --body-bg: #525659;
  --main-bg-color: var(--app-white);

  --section-title-color: var(--app-black);

  --text-color-primary: #0479b4;
  --text-color-primary-2: var(--app-black);
  --text-color-secondary: #808080;

  // font-size
  --font-size-extra-big: 4.8rem;
  --font-size-big: 3.2rem;
  --font-size-md-bigger: 2.9rem;
  --font-size-md: 2.4rem;
  --font-size-md-smaller: 1.8rem;
  --font-size-base: 1.6rem;
  --font-size-sm: 1.4rem;

  --font-weight-bolder: 700;
  --font-weight-normal: 400;

  --app-theme-transition: background-color 0.3s linear;
}

.dark {
  --header-bg: #057267;

  --footer-row-1-bg: #057267;
  --footer-row-2-bg: var(--app-black);

  --text-color-primary: var(--app-green);
  --main-bg-color: var(--app-black);
  --section-title-color: var(--app-white);
  --text-color-primary-2: var(--app-white);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-bg);
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
}

@media only screen and (max-width: breakpoints.$desktop) {
  #root {
    padding: 0;
  }
}

.position-relative {
  position: relative;
}

.app-section-title {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bolder);
  color: var(--section-title-color);
  margin-bottom: 5rem;
}
