@use "@/app/styles/_breakpoints" as breakpoints;

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5rem;
  background-color: var(--header-bg);
  transition: var(--app-theme-transition);

  .imageContainer {
    background-color: var(--app-white);
    border-radius: 100%;
    width: 20rem;
    height: 20rem;

    img {
      width: 20rem;
      height: 20rem;
      margin-bottom: 2rem;
      border-radius: 100%;
    }
  }

  h1 {
    font-size: var(--font-size-extra-big);
    font-weight: var(--font-weight-bolder);
    color: var(--app-white);
    margin-bottom: 2rem;
    text-align: center;
  }

  .currentJobBlock {
    h2 {
      color: var(--app-white);
      font-size: var(--font-size-big);
      font-weight: var(--font-weight-bolder);
      font-style: italic;
      margin: 0;
      text-align: center;
    }
  }
}

@media only screen and (max-width: breakpoints.$desktop) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 5rem;

    img {
      border-radius: 100%;
    }

    h1 {
      margin: 1rem 0;
    }
  }
}

@media only screen and (max-width: breakpoints.$tablet) {
  .header {
    .imageContainer {
      width: 15rem;
      height: 15rem;

      img {
        width: 15rem;
        height: 15rem;
      }
    }

    h1 {
      font-size: var(--font-size-big);
    }
  }
}

@media only screen and (max-width: breakpoints.$mobile) {
  .header {
    h1 {
      font-size: var(--font-size-md);
    }

    .currentJobBlock {
      h2 {
        font-size: var(--font-size-md);
      }
    }
  }
}
