.experienceItemAdditionalInfo {
  color: var(--text-color-primary-2);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bolder);

  .additionalInfoTitle {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    svg {
      width: 1.6rem;
      height: 1.6rem;
      fill: var(--text-color-primary-2);
      transition: transform 0.2s ease-in-out;
    }
  }

  .additionalInfoContent {
    max-height: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out, opacity 0.3s ease-in-out;
    padding-top: 1rem;

    .sectionTitle {
      font-weight: var(--font-weight-bolder);
      font-size: var(--font-size-md-smaller);
      font-style: italic;
      margin-bottom: 0.5rem;
    }

    .projects {

      ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        li {
          list-style: none;
        }
      }
    }
  }

  &.opened {
    .additionalInfoTitle {
      svg {
        transform: rotate(180deg);
      }
    }

    .additionalInfoContent {
      max-height: 100vh;
      opacity: 1;
    }
  }
}