.experienceItemAdditionalInfo {
  color: var(--text-color-primary-2);
  font-size: var(--font-size-sm);
  font-weight: var(--font-wight-bolder);

  .additionalInfoTitle {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    svg {
      width: 1.4rem;
      height: 1.4rem;
      fill: var(--text-color-primary-2);
      transition: transform 0.2s ease-in-out;
    }
  }

  .additionalInfoContent {
    max-height: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out, opacity 0.3s ease-in-out;
    padding-top: 1rem;

    .sectionTitle {
      font-weight: var(--font-wight-bolder);
      font-size: var(--font-size-md-smaller);
    }

    .projects {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  &.opened {
    .additionalInfoTitle {
      svg {
        transform: rotate(180deg);
      }
    }

    .additionalInfoContent {
      max-height: 100vh;
      opacity: 1;
    }
  }
}