.languages {
  .language {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bolder);

    .languagesList {
      li {
        list-style: none;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .languageName {
      color: var(--text-color-primary);
      font-size: var(--font-size-md);
    }

    .languageLevel {
      color: var(--text-color-primary-2);
      font-size: var(--font-size-md);
    }
  }
}