@use "@/app/styles/_breakpoints" as breakpoints;

.education {
  font-weight: var(--font-weight-bolder);

  .prof,
  .college,
  .graduateYear {
    font-size: var(--font-size-md-bigger);
    width: 75%;
    margin-top: 2.5rem;
  }

  .prof {
    color: var(--text-color-primary);
  }

  .college {
    color: var(--text-color-primary-2);
  }

  .graduateYear {
    color: var(--text-color-secondary);
  }
}

@media only screen and (max-width: breakpoints.$mobile) {
  .education {
    .prof,
    .college,
    .graduateYear {
      font-size: var(--font-size-md);
    }
  }
}
