.footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 150px;
  background-color: var(--footer-bg);
  padding: 0 5% 0 0;
  transition: var(--app-theme-transition);

  .socialMedia {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin: 0 0 0 10%;

    svg {
      width: 40px;
      height: 40px;
      fill: #fff;
      transition: fill 0.2s linear;

      &:hover {
        fill: gold;
      }
    }
  }

  .copyrighting {
    font-size: var(--font-size-md-smaller);
    align-self: center;
    color: var(--app-white);
  }
}

@media only screen and (max-width: 720px) {
  .footer {
    .socialMedia {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .footer {
    .socialMedia {
      gap: 10px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}