.footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  .footerRow {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 3rem;
    flex-wrap: wrap;
  }

  .footerRow1 {
    background-color: var(--footer-row-1-bg);
    color: var(--app-white);
    justify-content: space-between;
    padding: 1.5rem 4rem 1.5rem 1.5rem;
    gap: 1rem 3rem;

    h3 {
      font-size: 3rem;
    }
  }

  .footerRow2 {
    background-color: var(--footer-row-2-bg);
    color: var(--app-white);
    padding: 1.5rem;
    justify-content: center;
    font-size: 1.8rem;
  }

  .socialMedia {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem 1.5rem;

    li {
      list-style: none;

      a {
        display: flex;
        color: var(--app-white);
        height: fit-content;
      }
    }
  }

  @media screen and (max-width: var(--screen-sm)) {
    .footerRow {
      font-size: 2.2rem;
    }
  }
}