.twoColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;

  .twoColumnsSeparatorLine {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .twoColumns.breakpoint_1200 {
    grid-template-columns: 1fr;
    grid-gap: 0;

    .twoColumnsSeparatorLine {
      display: block;
    }
  }
}

@media only screen and (max-width: 800px) {
  .twoColumns.breakpoint_800 {
    grid-template-columns: 1fr;
    grid-gap: 0;

    .twoColumnsSeparatorLine {
      display: block;
    }
  }
}

@media only screen and (max-width: 600px) {
  .twoColumns.breakpoint_600 {
    grid-template-columns: 1fr;
    grid-gap: 0;

    .twoColumnsSeparatorLine {
      display: block;
    }
  }
}
