.skills_list {
  .skills_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    .skills_list_column {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .skill_item {
        display: flex;
        gap: 10px;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
        }
        .skill_name {
          font-size: var(--font-size-big);
          font-weight: var(--font-wight-bolder);
          color: var(--text-color-primary);
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .skills_list {
    .skills_container {
      .skills_list_column {
        .skill_item {
          img {
            width: 30px;
            height: 30px;
          }
          .skill_name {
            font-size: var(--font-size-md);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .skills_list {
    .skills_container {
      grid-template-columns: 1fr;
      grid-gap: 30px;      
    }
  }
}
