.skillsList {
  .skillsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 10rem;

    .skillItem {
      list-style: none;

      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
        width: fit-content;
      }

      img {
        width: 3rem;
        height: 3rem;
      }

      .skillName {
        font-size: var(--font-size-big);
        font-weight: var(--font-weight-bolder);
        color: var(--text-color-primary);
        display: flex;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .skillsList {
    .skillsContainer {
      .skillItem {
        img {
          width: 3rem;
          height: 3rem;
        }

        .skillName {
          font-size: var(--font-size-md);
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .skillsList {
    .skillsContainer {
      grid-template-columns: 1fr;
      grid-gap: 3rem;
    }
  }
}
