.skillsList {
  .skillsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 10rem;

    .skillItem {
      display: flex;
      gap: 1rem;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
      }

      .skillName {
        font-size: var(--font-size-big);
        font-weight: var(--font-wight-bolder);
        color: var(--text-color-primary);
        display: flex;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .skillsList {
    .skillsContainer {
      .skillItem {
        img {
          width: 30px;
          height: 30px;
        }

        .skillName {
          font-size: var(--font-size-md);
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .skillsList {
    .skillsContainer {
      grid-template-columns: 1fr;
      grid-gap: 3rem;
    }
  }
}
