@use "@/app/styles/_breakpoints" as breakpoints;

.contacts {
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-bolder);

  .contactItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    &:last-child {
      margin-bottom: 0;
    }

    span {
      font-size: var(--font-size-md);
      width: fit-content;
      color: var(--text-color-primary-2);
    }

    a {
      font-size: var(--font-size-md-bigger);
      text-decoration: none;
      color: var(--text-color-primary);
    }
  }
}

@media only screen and (max-width: breakpoints.$desktop) {
  .contacts {
    .contactItem {
      span {
        width: 10rem;
      }
    }
  }
}

@media only screen and (max-width: breakpoints.$tablet) {
  .contacts {
    .contactItem {
      a {
        font-size: var(--font-size-md);
      }
    }
  }
}

@media only screen and (max-width: breakpoints.$mobile) {
  .contacts {
    .contactItem {
      a {
        font-size: var(--font-size-md-smaller);
      }
      a.emailHref {
        overflow-wrap: anywhere;
      }
    }
  }
}