.contacts {
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-bolder);

  .contactItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }

    span {
      font-size: var(--font-size-md);
      width: fit-content;
      color: var(--text-color-primary-2);
    }

    a {
      font-size: var(--font-size-md-bigger);
      text-decoration: none;
      color: var(--text-color-primary);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .contacts {
    .contactItem {
      span {
        width: 100px;
      }
    }
  }
}

@media only screen and (max-width: 630px) {
  .contacts {
    .contactItem {
      a {
        font-size: var(--font-size-md);
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .contacts {
    .contactItem {
      a {
        font-size: var(--font-size-md-smaller);
      }
      a.emailHref {
        overflow-wrap: anywhere;
      }
    }
  }
}